<div class="row">


  <div class="col-lg-3  mt-3 mb-3">
    <div class="card d-flex flex-column">
      <div class="p-2">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
      </div>
      <div class="header-content p-2">
     ILMU MENGGAMBAR SKETSA WAJAH
      </div>

      <div class="p-2">
        <div class="content">
         
           Peserta yang tergabung di kelas Bisa Gambar akan diberikan pelatihan teknik menggambar
            secara ototidak dari mulai teknik menggambar yang paling dasar sampai teknik menggambar
             yang paling detail. Ilmu menggambar secara otodidak ini akan diberikan secara santai dengan waktu yang fleksibel dan dapat diakses kapanpun dan dimanapun.
            Tutorial yang diberikan akan sangat mudah sekali untuk dipahami dan dipraktekan.
         
        </div>
      </div>
    </div><!-- /.row -->
  </div>





  <div class="col-lg-3  mt-3 mb-3">
    <div class="card d-flex flex-column">
      <div class="p-2">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
      </div>
      <div class="header-content p-2">
        PELATIHAN MENGGAMBAR SKETSA WAJAH
      </div>

      <div class="p-2">
        <div class="content">
       Program pelatihan menggambar ini akan dibimbing secara langsung oleh owner dari
        NESAART sekaligus pendiri Bisa Gambar yang sudah menjual sketsa
        wajahnya ke berbagai pulau yang ada di Indonesia juga ke mancanegara. .
        </div>
      </div>
    </div><!-- /.row -->
  </div>




  <div class="col-lg-3  mt-3 mb-3">
    <div class="card d-flex flex-column">
      <div class="p-2">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
      </div>
      <div class="header-content p-2">
       PRAKTEK MENGGAMBAR SKETSA WAJAH
      </div>

      <div class="p-2">
        <div class="content">
         
            Selama pelatihan peserta akan dibimbing untuk langsung mempraktekan materi 
            yang sudah diberikan. Sehingga peserta akan memahami
             bagian-bagian yang sulit untuk dipraktekan dan bebas bertanya langsung pada pelatih.
        
        </div>
      </div>
    </div><!-- /.row -->
  </div>
  




  <div class="col-lg-3  mt-3 mb-3">
    <div class="card d-flex flex-column">
      <div class="p-2">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
      </div>
      <div class="header-content p-2">
        PRAKTEK BISNIS SKETSA WAJAH
      </div>

      <div class="p-2">
        <div class="content">
         
            Peserta akan dibimbing bagaimana caranya mempromosikan sketsa wajah
             mereka di media social baik itu Facebook, Instagram, Twitter, website, Youtube dan Tiktok. Peserta juga akan diajarkan bagaimana 
            caraya menarik pembeli dari dalam negeri maupun dari luar negeri.
   
        </div>
      </div>
    </div><!-- /.row -->
  </div>


</div>